.gift-container {
  background-color: #8E8E8E;
  height: 12.5vh;
  padding-top: 0.625rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;

    .img-gift {
        padding: 0.438rem;
    }

    .gift-title {
        margin: 0;
    }

    .gift-date {
        font-size: 0.75rem;
        font-weight: normal;
        margin: 0;
    }

    .btn-detail {
        background-color: #939090;
        font-weight: bold;
        border-radius: 0.625rem;
        width: 4.75rem;
        height: 4.75rem;
        padding: 0;
    }
    
    .main-card {
      align-items: stretch;
      background-color: #ffffff;
      border-radius: 0.625rem;
    }
    
    .card-right {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .card-center {
        display: flex;
        align-items: center;
    }
    
}

.gift-data {
    height: 95vh;
}