.main-modal {
    display: flex;
    flex-direction: column;
    align-items: center;

    .modal-header {
        .header-modal {
            .title-detailPlayerGroupA {
                font-weight: 700;
                font-size: 1.375rem;
                line-height: 1.6875rem;
                text-align: center;
            }
        }
    }

    .modal-content {
        .form-contentDetailPlayer {
            width: 18.4375rem;
            height: 550px;
            border: 1px solid #000;
            background-color: #8E8E8E;
            border-radius: 0.3125rem;
            padding: 0px 5px 5px 5px;
            margin-top: 0.875rem;
            overflow: scroll;

            .form-detailPlayer {
                display: flex;
                justify-content: space-around;
                background-color: #C0B9B9;
                border-radius: 0.625rem;
                margin-top: 0.3125rem;
                padding: 5px;
                font-weight: 700;
                font-size: 0.875rem;
                line-height: 1.0625rem;
               

                .text-countryPlayer {
                    font-weight: 400;
                    font-size: 0.875rem;
                    line-height: 1.0625rem;
                }
            }


        }
    } 

    .modal-footer {
        .form-btnBackDetailPlayer {
            .btn-backDetailPlayer {
                background-color: #AAAAAA;
                border: 1px solid #000;
                margin-top: 10px;


                .text-backDetailPlayer {
                    font-weight: 700;
                    font-size: 0.875rem;
                    line-height: 1.0625rem;
                    text-align: center;
                }
            }
        }
    }
}