.navbar {
  line-height: 1.2rem;
  align-items: center;
  .ant-menu-item {
    font-size: 0.6rem;
    padding: 0 0.8rem;
    width: 19.9vw;
    text-align: center;
    word-wrap: break-word;
    white-space: normal;
  }
}
